.container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50% auto;
  width: auto;
}

.col {
  padding: .4em 1.3em;
}

.color-dark {
  background: #2885C4;
}

.color-light {
  background: #57B3F1;
}

input.txt {
  // borders: 0;
  // padding: 1em 3em;
  background-color: white;
  color: #2885C4;
  text-align: center;
  // margin-bottom: 1em;
  // cursor: pointer;
  border-radius: 20px;
  //border: none;
}

::placeholder {
  color: #2885C4;
  padding-left: 10px;
}

input.btn {
    border: 0;
    background:#A5F883;
    color:#003A61;
    border-radius: 20px;
}

.life-container {
  background: #3FA0E1;
  padding: .5em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 13px;
}
